PORT=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# Email 
SMTP_HOST=
SMTP_USER=
SMTP_PASS=

# REDIS Config 
REDIS_HOST=